/** menu rulesets **/

.menu {
    background-color: #3c005f;
    overflow: hidden;
    
    /** box shadow: hor vert blur spread rgba/rgb **/ 
    box-shadow: -3px 3px 4px 0px rgba(0,0,0,0.4);
}

.menu a {
    float: right;
    display: flex;
    color: white;
    text-align: center;
    margin-top: 5px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 120%;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
    transition: 0.2s;
    font-weight: bold;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #26003b;
    
    /* para dili ma-select ang text sa menu */

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** contact form rulesets **/

.contact-form {
    position: relative;
    margin: auto;
    max-width: 600px;
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: -4px 4px 3px 0px black;
}

.contact-form h2 {
    margin-top: -5px;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #4f007c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #32004e;
    transition: .2s;
}

.socmed {
    position: relative;
    margin: auto;
    max-width: 600px;
    border-radius: 5px;
    color: white;
}

.socmed button {
    background-color: white;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #4f007c;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 160px;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: -2px 3px 3px 0px black;
}

/* INDIVIDUAL HOVER SETTINGS FOR EACH BUTTONS */

#fb-button button:hover{
    background-color: rgb(0, 0, 209);
    color: white;
    transition: .2s;
}

#github-button button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: .2s;
}

#youtube-button button:hover{
    background-color: rgb(126, 0, 0);
    color: white;
    transition: .2s;
}

/* SCROLLBAR RULESET. CHUY MAN. */

::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar track */
    height: 10px; /* height of the scrollbar track */
}

::-webkit-scrollbar-track {
    background: #ffffff; /* background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #26003b; /* color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #4f007c; /* color of the scrollbar thumb on hover */
}

/* ??????????????? */

#troll-button {
    position: relative;
    margin: auto;
    max-width: 600px;
    color: white;
}

#troll-button button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 160px;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 1000%;
}