
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #26003b;
}

.menu {
  background-color: #3c005f;
  overflow: hidden;
  box-shadow: -3px 3px 2px 0px rgba(0,0,0,0.4);
  
  /* para dili ma-select ang text sa menu */

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu a {
  float: right;
  display: flex;
  color: white;
  text-align: center;
  margin-top: 5px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
  transition: 0.2s;
  font-weight: bold;
}

.text-content{
  color: white;
  width: 40%;
  position: relative;
  left: 1%;
  margin-top: 130px;
  float: left;
}

.index-buttons{
  background-color: #26003b;
  color: white;
}

.index-buttons button {
  background-color: #4f007c;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 160px;
  margin-right: 20px;
  margin-bottom: 10px;
  box-shadow: -2px 3px 3px 0px black;
}

.index-buttons button:hover {
  background-color: #26003b;
  transition-duration: .15s;
}

/* loading full image here */

#image{
  max-width: 100%;
  width: auto;
  max-height: 60%;
  height: 370px;

  position: relative;
  float: right;
  margin-top: 5%;
  margin-right: 10px;

  box-shadow: -2px 3px 5px 0px black;

  /* adds a rounded-border effect para chuy */
  border-radius: 5px;
}



/* tablet view, with criteria beginning BETWEEN 801px-1200px */

@media screen and (max-width: 1200px) {
  .text-content{
    margin-top: 0%;
    width: auto;
    align-self: center;
  }

  #image{

    /* suwayon tanang align para ma-align gyud bisag di gyud kami (arat shat boss dev HAHAHAHA)*/
    align-content: center;
    align-items: center;
    align-self: center;
    float: none;

    height: auto;
  }
}

/* mobile view, with criteria beginning 800px BELOW */


@media screen and (max-width: 800px) {

  #image{
    align-content: center;
    align-items: center;
    align-self: center;
    float: none;
  }

  .text-content{
    text-align: center;
  }

  .menu a{
    font-size: 15px;
    margin-top: -1%;
  }

  

  .menu img {
    height: 40px;
    width: 80px;
  }

}

@media screen and (max-width: 550px) {
  /* sets home button to zero kay huot na. */
  .menu a:nth-child(5){
    opacity: 0;
  }
}

/* kapoy no? pero i-copy pa baya ni ang css sa pikas files :') 

sige kana lang usa for tonight kay sige nag reklamo si mama*/

/* NOTE FROM 'DEVELOPER KUNO':

chuy sa? we now both have tablet and mobile view. pero of cuorse in my end, it's not really an assurance.
both landscape and portrait modes of both phone and tablet perspectives are already 'automated' to adjust. for me, no need to worry. simplicity is oke for now basta functional lang usa. */